* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {

	color: #666;
	font-size: 13px;
	margin: 0;
}

input,
textarea,
select,
button {

	color: #333;
	font-size: 13px;
}

p,
h3
 {
	margin: 0;
}

.sub_member {
	display: block;
    width: 90%;
	margin: auto;
	position: relative;
}

.remove {
	display: none;
	position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 13px;
    border: 20px;
}




.wrapper {

	margin-top: -10%;
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}

.inner {
	min-width: 850px;
	margin: auto;
	padding-bottom: 48px;
}


.inner h3 {
	text-transform: uppercase;
	font-size: 22px;
	
	text-align: center;
	margin-bottom: 32px;
	color: #333;
	letter-spacing: 2px;
}

.h-30 {
	height: 29px !important;
}

.inner h4 {
	font-size: 19px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 32px;
	color: #333;
}

.center {
	justify-content: center;
}

.d-none {
	display: none !important;}

.space-mount {
	margin-top: -5%;
    margin-bottom: -2%;
}

span {
  font-weight: bold;
    margin-left: 3%;
    line-height: 21px;
}

form {
	width: 70%;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
}

.form-group {
	display: flex;
}

.form-group .form-wrapper {
	width: 50%;
}

.form-group .form-wrapper:first-child {
	margin-right: 20px;
}

.form-wrapper {
	margin-bottom: 17px;
}

.form-wrapper label {
	margin-bottom: 9px;
  display: block;
  font-weight: bold;
}

.form-control {
	border: 1px solid #ccc;
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	border-radius: 20px;
	
	background: none;
}

.form-control:focus {
	border: 1px solid #ae3c33;
}

.myButton {
	box-shadow: 6px 4px 6px 0px #cf866c;
	background-color:#d0451b;
	border-radius:28px;
	border:1px solid #942911;
	display: flex;
  margin: auto;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:4px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}


.w-20 {
	width: 20% !important;
}

.w-10 {
	width: 10% !important;
}

.w-5 {
	width: 5% !important;
}

.w-70 {
	width: 70% !important;
}

.w-95 {
	width: 95% !important;
}

.w-80 {
	width: 80% !important;

}

.w-100 {
  width: 100% !important;
  display: flex;
}

textarea {
	padding: 10px;
	line-height: 1.5;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #999;
}

label {
	display: block;
	margin-bottom: 10px;
}

@media (max-width: 991px) {
	.inner {
		min-width: 768px;
	}
}

@media (max-width: 767px) {
	.inner {
		min-width: auto;
		background: none;
		padding-top: 0;
		padding-bottom: 0;
	}
	form {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
}


/*# sourceMappingURL=style.css.map */