body{
font: 15px/1.5 Arial,Helvetica,sans-serif;
padding:0;
margin:0;
background-color: #ffffff; 
} 

/*Global */
.container{
    display: flex;
    width: 80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:25px;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    background:#000000;
    color:#ffffff;
    
}
/* 


/* Header **/
Header{
  z-index: 10000;
  background: rgb(95,87,231);
  background: linear-gradient(90deg, rgba(95,87,231,1) 0%, rgba(101,101,255,1) 12%, rgba(7,146,136,1) 39%, rgba(0,212,255,1) 76%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top:30px;
    min-height:70px;
    border-bottom:#000000 3px solid;
}

header a{
    color:#000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}


header li{
    display:inline;
    padding:0px 35px 0px 35px;
}

header #branding{
    float:left;
}


header #branding h1{
    margin:0;
}

Header nav{
    float:left;
    margin-top: 10px;
}

.NavigationBar{
    text-align: Right;
}




header .highlight{

    color:#ffffff;
    font-weight:initial;
} 


header a:hover{
    color:#ffffff;
    font-weight: normal;
}



footer{
    position: fixed;
    width: 100%;
    padding:10px;
    margin-top: 20px;
    color: #ffffff;
    background-color:#000000;
    text-align:left;
    bottom: 0;
}

footer li{
  text-align: right;
  display:inline;
  padding:0px 35px 0px 35px;
  padding:10px;
  color: #ffffff;
  background-color:#000000;
}


.space-top {
    width: 100%;
    height: 140px;
}



#logo {
  position: absolute;
  z-index: 1;
  margin-top: -13px;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
  
}

#logo-a {
  font-weight: bold;
  font-size: 30px;
  font-family: fantasy;
  color: blanchedalmond;
  margin-left: 10%
}
.slogan {
  margin: auto;
  margin-top: 20px;
}



  